<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/png/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/png/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/png/favicon-16x16.png">
  <link rel="manifest" href="/assets/png/site.webmanifest">

  <script async defer data-domain="antieau.github.io" src="https://plausible.io/js/plausible.js"></script>


  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']]
      },
      TeX: {
        extensions: ["AMSmath.js", "AMSsymbols.js", "AMScd.js"]
      },
      displayAlign: "center",
      displayIndent: "2em",
    });
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
