---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


  {%- if site.description -%}
  <div class="page-content">
      <div class="wrapper">
          <img style="float: right; padding: 10px" width="400" src="assets/jpg/coverpic.jpg">
          {{ content }}

          {%- if site.posts.size > 0 -%}
            <ul class="post-list">
              {%- for post in site.posts limit:1 -%}
              <li>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
              </li>
              {%- endfor -%}
            </ul>
            {%- endif -%}
      </div>
  </div>
  {%- endif -%}

</div>
